{% extends "base.html" %}

{% block title_block %}Cart{% endblock %}

{% block body_block %}
<div class="container mt-5">
    <h1>Shopping Cart</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in request.session.cart.values %}
                <tr>
                    <td><img src="{{ item.image }}" alt="{{ item.name }}" width="50"></td>
                    <td>{{ item.name }}</td>
                    <td>${{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.quantity|multiply:item.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
