{% extends "base.html" %}

{% block title_block %}Product Details{% endblock %}

{% block body_block %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ object.mainimage.url }}" class="img-fluid" alt="{{ object.name }}">
        </div>
        <div class="col-md-6">
            <h1>{{ object.name }}</h1>
            <p>{{ object.details_text }}</p>
            <p class="text-muted"><s>${{ object.old_price }}</s></p>
            <p class="text-danger">${{ object.price }}</p>
            <a href="{% url 'add_to_cart' object.pk %}" class="btn btn-success">Add to Cart</a>
        </div>
    </div>
</div>
{% endblock %}
